#localTime {
    padding: 0;
}

.time {
    margin: 30px;
    height: 90%;
}

#weatherTitle {
    margin: 20px;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.weatherCard h4 {
    display: inline;
    text-align: center;
}

.iconAndWeather {
    display: flex;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather {
    justify-content: center;
    display: flex;
    flex-direction: column;
}