.time {
    margin: 30px;
    height: 90%;
    width: 90%;
}

#weatherTitle {
    margin: 20px;
}

.weatherCard {
    display: flex;
    flex-direction: column;
}

.weatherCard h4 {
    display: inline;
    text-align: center;
}

.iconAndWeather {
    display: flex;
}

.cardContainer {
    margin: 30px;
}

.weather {
    justify-content: center;
    display: flex;
    flex-direction: column;
}