.time {
    margin: 30px;
}

#weatherTitle {
    color: #095256;
    margin: 20px;
    font-weight: 700;
}

.weatherCard {
    display: flex;
    flex-direction: column;
}

.weatherCard h4 {
    display: inline;
    text-align: center;
}

.iconAndWeather {
    display: flex;
}

.cardContainer {
    margin: 30px;
}

